<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Vibes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel = "stylesheet"/>
</head>
<body id="background" background="https://s18.postimg.org/e5uvpci55/background_Blue.jpg">
<img id = 'logo' src="https://s15.postimg.org/asmn2pwa3/logo.png"/>

<div class="homeCenter">
    <h3>Welcome to your Vibes</h3>

<div class="center-block">

    <img id = 'vib1' src="https://s11.postimg.org/n6bikfyqr/vibe1.png"/> Vibrate
    <img id = 'vib2' src="https://s14.postimg.org/9ks9dyty9/vibe2.png"/> Stutters<br/>

    <img id = 'vib3' src="https://s12.postimg.org/ds8fkbof1/vibe3.png"/> Pulse
    <img id = 'vib4' src="https://s17.postimg.org/5mjl0ejov/vibe4.png"/> Echo <br/>

</div>
</div>

</body>
</html>