<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Vibes</title>

    <!--- intergrity check if source is save applied sha384 and 256 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>


    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel = "stylesheet"/>
</head>

<body id="background" background="https://s18.postimg.org/e5uvpci55/background_Blue.jpg">
<img id = 'logo' src="https://s15.postimg.org/asmn2pwa3/logo.png"/>

<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Log in</h1>
                    <form role="form" action= "#" th:action="@{/login}" th:object="${login}" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="Username" class="sr-only">Username</label>
                            <input type="username"  th:field="*{username}" name="Username" id="Username" class="form-control" placeholder="Username"/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password"  th:field="*{password}" id="password" class="form-control" placeholder="Password"/>
                        </div>
                        <div class="form-button">
                            <input type="submit" id="btn-back" class="btn btn-custom btn-lg" value="Back"/>
                            <input type="button" id="btn-login" class="btn btn-custom btn-lg" value="Log in"/>
                        </div>
                    </form>
                    <a href="resetpassword.html">Forgot your password</a>
                    <hr/>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
</body>
</html>